<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <%- include ('./partials/nav.ejs') %>

          <form class="form-inline my-2 my-lg-0" action="../../sessions/logout" method="POST">
            <button class="btn btn-outline-light my-2 my-sm-0">Logout</button>
        </form>
          
        </div>
      </nav>

      <div class="container">
        <%=music.album%>
        <form action="/myMusic/user/<%=user.id%>/posts/<%=music.id%>?_method=PUT" method="POST">

        

          


          <div class="form-group" >
            <label for="FormControlInput1">Album</label>
            <input type="text" class="form-control" id="FormControlInput1"  name="album" value="<%=music.album%>">
          </div>
          <div class="form-group">
              <label for="FormControlInput2">Artist</label>
              <input type="text" class="form-control" id="FormControlInput2"  name="artist" value="<%=music.artist%>">
            </div>
          <div class="form-group">
              <label for="FormControlInput3">Album Cover</label>
              <input type="text" class="form-control" id="FormControlInput3" name="image" value="<%=music.image%>" >
              </div>
          <div class="form-group">
              <label for="FormControlInput4">Youtube Link</label>
              <input type="text" class="form-control" id="FormControlInput4" name="link" value="<%=music.link%>" >
              </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Rating</label>
            <select class="form-control" id="exampleFormControlSelect1" name="rating" value="<%=music.rating%>">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
          </div>
          <div class="form-group">Review</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" name="review" value="<%=music.review%>"></textarea>
          </div>
          <div class="form-group">
              <label for="FormControlInput5">Tags</label>
              <input type="text" class="form-control" id="FormControlInput5" name="tags" value="<%=music.tags%>">
              </div>
              
              <button type="submit" class="btn btn-primary">Edit Post</button>

    
        </form>
      </div>
     <!-- BOOTSTRAP -->
      <%- include ('./partials/bootstrap.ejs') %>
   
</body>
</html>