<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"> 
    <title>Document</title>
</head>
<body>
    <%=music.album%>
    <form action="/myMusic/<%=music._id%>%>?_method=PUT" method="POST">
        <input type="text" name="album" value="<%=music.album%>"/> <br/>
        <input type="text" name="artist" value="<%=music.artist%>"/> <br/>
        <input type="text" name="youtube link" value="<%=music.link%>"/> <br/>
        <input type="number" min="0" max="10" name="rating" value="<%=music.rating%>"/> <br/>
        <input class="review" type="text" name="review" value="<%=music.review%>"/> <br/>
        <input type="text" name="tags" value="<%=music.tags%>"/> <br/>
        <input type="submit" value="Edit Post"/>

    </form>
</body>
</html>