<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head.ejs') %>

    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <%- include ('./partials/nav.ejs') %>
       
          <form class="form-inline my-2 my-lg-0" action="sessions/logout" method="POST">
            <button class="btn btn-outline-light my-2 my-sm-0">Logout</button>
        </form>
          
        </div>
      </nav>




    
    <div class="container">
      welcome! 
       <%=currentUser.username%>
       
          <h1> Home Page</h1>
        <!-- for loop for posts in post collection to show album info, links to show page -->
        <div class="row">
            
                <% for(let i = 0; i < post.length; i++) { %>
                    <div class="col-sm-6">
                      <a href="/myMusic/user/<%=currentUser._id%>/posts/<%=post[i]._id%>">"
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="<%=post[i].image%>" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text"><%=post[i].album%> by <%=post[i].artist%>
                     </p>
                          
                        </div>
                    </div>
                  </a>
                    </div>
                <%}%>
            
        </div>
        

       
    </div>
    

     <!-- BOOTSTRAP -->
    <%- include ('./partials/bootstrap.ejs') %>

</body>
</html>