<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head.ejs') %>

    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <%- include ('./partials/nav.ejs') %>

          <form class="form-inline my-2 my-lg-0" action="../sessions/logout" method="POST">
            <button class="btn btn-outline-light my-2 my-sm-0">Logout</button>
        </form>
          
        </div>
      </nav>
    <div class="container">
       
        <h1><%=music.album%> by <%=music.artist%></h1>
         <small>Reviewedby: <a href="/authors/<%=author._id%>"><%=author.name%></a></small><br/>
        <!-- link -->
        <!-- ///updating yt link so that it is JUST the unique number, can then be put into the embed link already set up on show page... cut out everything BEFORE = and after (including) & -->
        <%if (music.link !== null) {
        //Removes & and everything following

            let link =music.link.split('&')[0]
                //Removes = and everythiing before // tutorial from https://thispointer.com/javascript-string-remove-until-a-character/
                link = link.substring(link.indexOf('=') + 1) %>
                <iframe width="560" height="315" 

        src="https://www.youtube.com/embed/<%=link%>" 
      

        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       
         <% } else { %>
            <p>Broken link</p>
          <%}%>


        
        <p>Rating: <%=music.rating%></p><br/>
        <p>Review: <%=music.review%></p><br/>
        <p>Tags: <%=music.tags%></p><br/>

        <button class="btn btn-light"><a href="/myMusic/<%=music._id%>/edit">edit review</a></button> <br/>
        <form action="/myMusic/<%=music._id%>?_method=DELETE" method="POST">
          <button class="btn btn-light" class="delete" type="submit">Delete Post
            </button> <br/>
            
        </form>
        <button class="btn btn-light"><a href="/myMusic">Return To Home</a></button><br/>

        <section>
        <h4>Comments</h4>
        <%if (music.comments.length > 0) {%>
          <% for (let i = 0; i < music.comments.length; i++) {%>
            <h6>User <%=music.comments[i].user%> commented:</h6>
            <p><%=music.comments[i].comment%></p>
          <%}%>
        <%}%>
        
        
        <div class="form-group">
          <form action="/myMusic/<%=music._id%>/comments?_method=PUT" method="POST">
            <div class="form-group">
                <label for="FormControlInput2">Name</label>
                <input type="text" class="form-control" id="FormControlInput2" placeholder="commenter name" name="user" >
              </div>
              <div class="form-group">
                <label for="FormControlInput2">Comment</label>
                <input type="text" class="form-control" id="FormControlInput2" placeholder="comment" name="comment" >
              </div>
              <button type="submit">submit</button>
            </form>
          </div>
        
          </section>
    </div>

    <!-- BOOTSTRAP -->
    <%- include ('./partials/bootstrap.ejs') %>

</body>
</html>