<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs') %>
    <title>Authors</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <%- include ('../partials/nav.ejs') %>
        
          <form class="form-inline my-2 my-lg-0" action="../../sessions/logout" method="POST">
            <button class="btn btn-outline-light my-2 my-sm-0">Logout</button>
        </form>
          
        </div>
      </nav>


<!-- following authors experiment -->
  <!-- <a href="../../authors/followfeed/user/<%=user.id%>">follow</a>
         -->
      <div class="container">
        <h1>Authors</h1>
        
        <div class="row">
            
            <% for(let i = 0; i < users.length; i++) { %>
              <%if (users[i].articles.length > 0){%>

                <div class="col-sm-6">
                  <a href="/authors/user/<%=user._id%>/author/<%=users[i].id%>">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="<%=users[i].image%>" alt="Card image cap" style="width: 18rem; ">
                    <div class="card-body">
                      <p class="card-text"><%=users[i].username%> 
                 </p>
                      
                    </div>
                </div>
              </a>
                </div>
              <%}%>

            <%}%>
        
        </div>
      </div>

     <!-- BOOTSTRAP -->
     <%- include ('../partials/bootstrap.ejs') %>

</body>
</html>