<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs') %>

    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <%- include ('../partials/nav.ejs') %>

          <form class="form-inline my-2 my-lg-0" action="../../../../sessions/logout" method="POST">
            <button class="btn btn-outline-light my-2 my-sm-0">Logout</button>
        </form>
          
        </div>
    </nav>

    <div class="container author">
      <div class="author-left">
        <h1><%=author.username%></h1>

        <img class="author-image" src="<%=author.image%>">
      </div>
      <div class="author-right">

        <main>
          <section>
            <h4>About</h4>
              <p><%=author.bio%></p>
              <% if (author.email) {%>
                You can reach me at <%=author.email%>
                <%} %>
          </section>
          <section>
            <h4>Articles:</h4>
              <ul>
                <% for(let i = 0; i < author.articles.length; i++){ %>
                  <li class="authors"><a class="authors" href="/myMusic/user/<%=user.id%>/posts/<%=author.articles[i]._id%>"><%=author.articles[i].album%></a></li>
                <% } %>
              </ul>
          </section>    
  
          <% if (author.id === user.id) {%>    
            <section>
              <button type="submit" class="btn btn-light"><a href="../../../../myMusic/profile/users/<%=author.id%>/edit">Edit Author</a></button>
            </section>
          <%}%>
        </main>
      </div>
      
     
    </div>
  
     <!-- BOOTSTRAP -->
     <%- include ('../partials/bootstrap.ejs') %>

</body>
</html>