<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs') %>

    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <%- include ('../partials/nav.ejs') %>

          <form class="form-inline my-2 my-lg-0" action="../sessions/logout" method="POST">
            <button class="btn btn-outline-light my-2 my-sm-0">Logout</button>
        </form>
          
        </div>
      </nav>
      <div class="container">
        <h1><%=author.name%></h1>
        
   
        <main>
            <section>
                <h4>About</h4>
                <p><%=author.bio%></p>
            </section>
            <section>
                <h2>Articles:</h2>
                
                <ul>
                    <% for(let i = 0; i < author.articles.length; i++){ %>
                        <li class="authors"><a class="authors" href="/myMusic/user/<%=user.id%>/posts/<%=author.articles[i]._id%>"><%=author.articles[i].album%></a></li>
                    <% } %>
                </ul>
            </section>
            
            <section>
                <form action="/authors/<%=author._id%>?_method=DELETE" method="post">
                  <button type="submit" class="btn btn-light">Delete Author</button>
                </form>
            </section>
            <section>
              <button type="submit" class="btn btn-light"><a href="/authors/<%=author._id%>/edit">Edit Author</a></button>
            </section>
        </main>
      </div>
  
       


     <!-- BOOTSTRAP -->
     <%- include ('../partials/bootstrap.ejs') %>

</body>
</html>